@model WebApplication1.Models.Dane
@{
    ViewData["Title"] = "Form";
}

@using (Html.BeginForm("Form", "Dane", FormMethod.Post))
{
@Html.ValidationSummary(false, "", new { @class = "text-danger"})
<p>Twoje imie: @Html.TextBoxFor(a => a.Imie)</p>
<p>Twoj email: @Html.TextBoxFor(a => a.Email)</p>
<p>Temat: @Html.TextBoxFor(a => a.Temat)</p>
<p>Tresc: @Html.TextBoxFor(a => a.Tresc)</p>
<input type="submit" />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })*/
}
